
.change_page{
    height: 40px;
    background-color: rgba(173, 230, 94, 0.804);
    margin: 10px;
}
a{
    font-size: 20px;
    padding: 5px;
}

.container{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(75, 244, 108);
    text-align: center;
    padding: 5px;
}

h1{
    color: blue;
}

  
input[type="number"] {
    width: 80%;
    height: 30px;
    font-size: 25px;
    background-color: #bf97f3ae;
    padding: 5px;
    border: 1px solid #6a0fe0;
  }

  .result{
    height: 120px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color:  rgb(75, 244, 108);
    /* background-color: white; */
  }
  #answer{
    font-size: 30px;
  }

  button:hover {
    background-color: #3e8e41;
  }


  #calc{
    height: 40px;
    width:160px;
    font-size: 16px;
    color: rgba(175, 52, 247, 0.911);
    background-color: #e6961e;
    border: 2px solid black;
    margin: 15px 270px;
    border-radius: 10px;
  }